@model Batch155SMSOnline3.Models.Customer
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutSMS2.cshtml";
}

<br />

<section>
    <div class="container">
        <h3>Forgot Password</h3>
        @using (Html.BeginForm("ForgotPassword", "Customer", FormMethod.Post))
        {
            @Html.AntiForgeryToken()




            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label class="control-label">Username</label>
                <input type="text" name="username" class="form-control">
            </div>

            <div class="form-group">
                <label class="control-label">Phone Number</label>
                <input type="text" name="phonenumber" class="form-control">
            </div>


            <div class="form-group">
                <label class="control-label">Email</label>
                <input type="text" name="email" class="form-control">
            </div>

            <div class="form-group">

                <input type="submit" value="Login Account" />

            </div>

        }


    </div>
</section>