body{
    background-color: #edeef0;
}
#search{
    position: relative;
    margin-top: 15px;
}
#search-terms{
    position: absolute;
    top: -3px;
    right: 100%;
    display: none;
}
#btnsearch{
    float: right;
    padding: 5px 8px;
    margin-top: -6px;
    border: 1px solid dodgerblue;
    color: dodgerblue;
    border-radius: 50%;
    background-color: white;
}
#nav1{
    background-color: #4bb877;
    min-height: 20px;
    height: 30px;
    margin-bottom: 0;
}
.navbar-fixed-top{
    padding-top: 8px;
    margin: 0 0;
}
#nav2{
    margin-top: -12px;
    background-color: #4ec67f;
    margin-bottom: 0;
}
#nav1 .navbar-collapse{
    border-color: #e7e7e7;
    margin-top: -10px;
    font-size: 12px;
}
.navbar{
    border: none;
    border-radius: 0;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    font-weight: bold;
}
.navbar-default .navbar-brand {
    color: white;
    font-size: xx-large;
    font-weight: bold;
}
#nav2 .navbar-nav>.active>a, #nav2 .navbar-nav>.active>a:focus, #nav2 .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #27ae61;
}
.navbar-right{
    margin-right: 20px;
}
h2{
    margin-top: 0;
    font-weight: bold;
}
.breadcrumb{
    margin: 20px 0;
}
.breadcrumb li{
    font-weight: bold;
    color: grey;
}
.breadcrumb li a{
    color: black;
}
.carousel-inner{
    height: 400px;
    margin-bottom: 50px;
}
.thumbnail{
    text-align: center;
}
.thumbnail p{
    font-weight: bold;
    margin-top: 15px;
    font-size: 12px;
}
.thumbnail img{
    height: 120px;
}
.mytn p{
    margin: 0;
}
.mytn{
    text-align: left;
    clear: both;
}
.panel p{
    display: inline;
}
.panel .thumbnail{
    display: inline;
    margin-bottom: 0;
    padding: 8px;
}
.panel a{
    text-decoration: none;
    color: black;
}
.panel-heading{
    padding: 5px;
    height: 60px;
    border-radius: 0;
    margin-top: 30px;
}
.pull-right {
    margin-top: 5px;
    margin-right: 10px;
}
.pull-right a{
    margin-right: 5px;
}
.pull-left{
    margin-top: 15px;
    margin-left: 10px;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
    margin: auto;
}
.carousel-indicators .active {
    background-color: #4ec67f;
}
.carousel-indicators li {
    border: 1px solid #4ec67f;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: -100px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: -100px;
}
#p1 {
    width: 50%;
    text-align: center;
    border-bottom: solid thin grey;
    line-height: 0.1em;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 50px;
}

#p1 span {
    background:#edeef0;
    padding:0 10px;
    color: grey;
    font-size: xx-large;
    font-weight: 100;
}
.product{
    text-align: center;
    width: 100%;
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
}
.product a{
    text-align: center;
}
h4{
    margin-top: 20px;
    margin-bottom: 20px;
}
.size{
    margin-top: 20px;
    font-size: 18px;
}
.price{
    font-weight: bold;
    font-size: 18px;
}
p{
    margin:0;
}
.btn {
    border-radius: 2px;
    position: relative;
}
.btn.btn-green {
    color: #ffffff;
    background: #51d466;
    border: 1px solid #30c247;
}
.btn.btn-green:hover,
.btn.btn-green:focus,
.btn.btn-green.active,
.btn.btn-green:active {
    background: #30c247;
    color: #ffffff;
}

.category{
    border-top: solid 5px #4ec67f;
    border-bottom: 2px solid #e3e3e3;
    border-left: 2px solid #e3e3e3;
    border-right: 2px solid #e3e3e3;
    margin-bottom: 10px;
}
.category a{
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-size: 20px;
}
.well{
    padding: 10px;
    background-color:#edeef0;
    margin-bottom: 0;
}
.showcate{
    background-color: white;
    padding: 20px 20px 10px 15px;
}
.showcate a{
    font-size: 13px;
    font-weight: bold;
    line-height: 28px;
}
.showcate form{
    font-weight: bold;
    font-size:15px;
    line-height: 30px;
}
.showcate p{
    margin-bottom: 10px;
}
.form-inline .form-control{
    width: 65px;
}
.form-inline .btn-default{
    color: white;
    font-weight: bold;
    background-color: #bec3c7;
    border-color: #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
}
.showcate .badge{
    float: right;
    margin-right: 5px;
    margin-top: 5px;
}
#badgered{
    float: right;
    margin-right: 5px;
    background-color: red;
    margin-top: 5px;
}
#show1{
    display: block ;
}
#show1>a,#show2>a,#show3>a,#show4>a,#show5>a,#show6>a{
    font-weight: normal;
}
.cateclass{
    background-color: white;
    padding: 10px 10px;
    margin-left: 20px;
    display: none;
    border-left: 1px solid #e3e3e3;
}
#s3 .btn{
    color: white;
    font-weight: bold;
    background-color: #bec3c7;
    border-color: #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 20px;
}

#footer {
    background-color: white;
    height: auto;
    padding: 20px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}

#footer ul {
    list-style-type: none;
    font-size: 13px;
    margin-top: 15px;
    padding-left: 0;
    color: #7F8C8D;
}
#footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
#footer ul li a {
    padding: 0 0 5px 0;
    display: block;
}

#footer a {
    color: #78828D
}
.footer{
    padding: 0 10px 10px 20px;
}
.social li {
    background: none repeat scroll 0 0 #B5B5B5;
    border: 2px solid #B5B5B5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 36px;
    line-height: 36px;
    margin: 0 8px 0 0;
    padding: 0;
    text-align: center;
    width: 36px;
    transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.social li:hover {
    transform: scale(1.15) rotate(360deg);
    -webkit-transform: scale(1.1) rotate(360deg);
    -moz-transform: scale(1.1) rotate(360deg);
    -ms-transform: scale(1.1) rotate(360deg);
    -o-transform: scale(1.1) rotate(360deg);
}
.newsletter-box input {
    background: #FFFFFF;
    display: inline-block;
    float: left;
    height: 40px;
    clear: both;
    width: 100%;
}
.newsletter-box .btn {
    border: medium none;
    font-weight: bold;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    padding: 0;
    margin-top: 10px;
    width: 100%;
    color: #fff;
}
.newsletter-box {
    overflow: hidden;
}
.social li a {
    color: #EDEFF1;
}

.social li:hover {
    border: 2px solid #2c3e50;
    background: #2c3e50;
}

.social li a i {
    font-size: 16px;
    margin: 0 0 0 5px;
    color: #EDEFF1 !important;
}
#p2{
    font-weight: bold;
    font-size: 12px;
    color: grey;
    margin-top: 15px;
}
#p3{
    font-weight: bold;
    color: black;
    font-size: 18px;
}
#p4{
    font-size: 18px;
    color: grey;
}
.footer-bottom {
    background: white;
    border-top: 1px solid #DDDDDD;
    padding: 5px 20px 5px 20px;
    height: 60px;
}
.footer-bottom img{
    width: 40%;
}
#btnproduct{
    text-align: center;
    margin-bottom: 20px;
}
#btn1{
    background-color: white;
    color: limegreen;
    padding: 10px;
    border: solid limegreen 1px;
    font-size: medium;
    box-shadow: 5px 5px 2px lightgreen;
}
.content{
    position: relative;
}
.saleinfo{
    position: absolute;
    left: -4%;
    top: -50%;
    padding-left: 5px;
}
.new{
    color: #ffffff;
    background: #51d466;
    border: 1px solid #30c247;
    border-radius: 0;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
}
.sale{
    color: #ffffff;
    background: red;
    border: 1px solid red;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -5px;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btn.focus, .btn:focus, .btn:hover {
    color: white;
}
#counter{
    display: inline;
}
.navbar-default .navbar-nav>.open>a .dropdown-menu{
    display: none;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: #4ec67f;
}
.navbar-nav>li>.dropdown-menu {
    background-color: #4ec67f;
}
.dropdown-menu>li>a {
    color: white;
    text-align: center;
}
.dropdown-menu>li>a:hover{
    background-color: white;
    font-weight: bold;
}

@media only screen and (min-width: 320px) and (max-width: 760px) {
    .footer-bottom img {
        width: 100%;
        margin-top: 15px;
    }

    .footer-bottom p {
        font-size: 12px;
    }

    .newsletter-box input {
        border: 1px solid black;
    }

    .panel p {
        font-size: 12px;
    }

    .panel .pull-right a {
        display: none;
    }

    #nav1 {
        display: none;
    }

    #nav2 {
        padding-top: 10px;
    }

    h2 {
        font-size: 20px;
    }

    #s1, #s2, #s3 {
        display: none;
    }

    .thumbnail p {
        font-size: 10px;
    }

    .thumbnail img {
        height: 80px;
    }

    .carousel-inner {
        height: 150px;
        margin-bottom: 10px;
    }

    .carousel-indicators {
        display: none;
    }

    #nav2 {
        padding-top: 0;
        margin-top: 0;
    }

    .navbar-fixed-top {
        padding-top: 25px;
    }

    .new {
        padding-left: 20px;
        padding-right: 20px;
    }

    .sale {
        padding-left: 10px;
        padding-right: 10px;
    }
    #search-terms {
        top: -3px;
        right: 12%;
        width: 85%;
    }
}
@media only screen and (min-width: 761px) and (max-width: 1023px){
    .carousel-inner{
        height: 250px;
    }
    .navbar-default .navbar-brand {
        font-size: 25px;
    }
    .navbar-default .navbar-nav>li>a {
        font-size: 10px;
    }
    .navbar-right {
         margin-right: 0;
    }
    .showcate {
        padding: 20px 5px 10px 5px;
    }
    .showcate .badge {
        margin-top: 8px;
        font-size: 8px;
        padding: 2px 5px;
        margin-right: 0;
    }
    .showcate a {
        font-size: 10px;
    }
    hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .showcate form {
        font-size: 13px;
    }
    #cate,#price,#brand{
        font-size: 18px;
    }
    .form-inline .btn-default {
        margin-left: 40px;
        margin-top: 5px;
    }
    .new{
        padding-left: 5px;
        padding-right: 5px;
    }
    .sale{
        padding-left: 5px;
        padding-right: 5px;
    }
    #search-terms{
        width: 140px;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1024px){
    .thumbnail img{
        height: 80px;
    }
    .thumbnail p{
        font-size: 8px;
    }
    .showcate {
        padding: 20px 5px 10px 5px;
    }
    .showcate a {
        font-size: 14px;
    }
    .form-inline .btn-default {
        margin-left: 60px;
        margin-top: 5px;
    }
    .form-inline .form-control {
        width: 80px;
    }
    hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .carousel-indicators {
        bottom: 40px;
    }
    .carousel-inner {
        height: 350px;
        margin-bottom: 10px;
    }
    .new{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 10px;
    }
    .sale{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 10px;
    }
    #search-terms{
        width: 150px;
    }
}
