@model IEnumerable<Batch155SMSOnline3.Models.Customer>
@foreach (var item in Model)
{
        <div class="conversation active">
           
            <img src='@Url.Content("~/"+ item.Image)' />
     
            <div class="title-text">
                @Html.ActionLink(item.CustomerName, "MessageFriends", "Message", new { IdReceive = item.Id }, null)
            </div>
        </div>
 }







